@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@font-face {
      font-family: "Inter";
      font-display: swap;
      src: url("../src/assets/font/Inter_18pt-Light.woff2") format("woff2");
}




:root {
      --badge-color: #ececec;
      --bg-100: #FAFAFA;
      --bg-200: #efefef;
      --bg-footer: #131C2E;
      --bg-input: #fefefe;
      --black: #000;
      --blue-accent: #144BB8;
      --blue-accent-hover: #2a5abb;
      --border-card: #e2e4e9;
      --font-color-100: #14181F;
      --font-color-200: #14181F;
      --icon-color: #5e5e5e;
      --orange-accent: #F98C1F;
      --text-card: #000000;
      --text-opposite: #ededed;
      --title-category: #414347;
      --white: #fff;
      
}

.dark {
      --badge-color: #000000;
      --bg-100: #151f38;
      --bg-200: #131C2E;
      --bg-footer: #F6F6F7;
      --bg-input: #1b192a;
      --blue-accent: #477EEB;
      --blue-btn: #0b113f;
      --blue-accent-hover: #2c6be8;
      --border-card: #181c25;
      --font-color-100: #898e95;
      --font-color-200: #8c9bb0;
      --icon-color: #cecece;
      --text-card: #ffffff;
      --text-opposite: #141414;
      --title-category: #b7bdc8;

      
}

@theme {

      --font-inter: "Inter", "sans-serif";

      /* Colors */

      --color-badge-color: var(--badge-color);
      --color-bg-100: var(--bg-100);
      --color-bg-200: var(--bg-200);
      --color-bg-footer: var(--bg-footer);
      --color-bg-input: var(--bg-input);
      --color-black: var(--black);
      --color-blue-accent: var(--blue-accent);
      --color-blue-accent-hover: var(--blue-accent-hover);
      --color-blue-btn: var(--blue-btn);
      --color-border-card: var(--border-card);
      --color-font-color-100: var(--font-color-100);
      --color-font-color-200: var(--font-color-200);
      --color-icon-color: var(--icon-color);
      --color-orange-accent: var(--orange-accent);
      --color-text-card: var(--text-card);
      --color-text-opposite: var(--text-opposite);
      --color-title-category: var(--title-category);
      --color-white: var(--white);

}

body{
      font-family: var(--font-inter);
}